.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.footer-info > div > .logo {
    display: flex;
    justify-content: center;
    padding-top: 42px;
    padding-bottom: 14px;
}

.footer-motto {
    display: none;
}

.small-text-field-seventh {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.small-text-field-seventh > div {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.small-text-field-seventh > div > p {
    padding-bottom: 10px;
}

.small-text-field-seventh > div > p:first-child {
    font-weight: 600;
    font-size: 18px;
    color: #06686C;
    padding-bottom: 12px;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.footer-rights > div > p {
    font-family: 'Inter';
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    padding-bottom: 30px;
}

.footer-line {
    width: 80%;
    height: 1px;
    background-color: #53545C;
    display: none;
}
