.container-sixth {
    padding-bottom: 90px;
}

.big-text-field-sixth {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    width: 244px;
    line-height: 30px;
    color: #433D3D;
}

.big-text-field-sixth > p > span {
    color: #06686C;
    padding-right: 4px;
}

.small-text-field-sixth {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    color: #433D3D;
    padding-bottom: 24px;
}


.checkmark {
    width: 18px;
    height: 18px;
    background: rgba(6, 104, 108, 0.65);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text-field-sixth > p {
    width: 80%;
}

@media screen and (min-width: 786px) {
    .container-sixth {
        padding: 5% 10%;
        display: flex;
        flex-direction: row;
    }

    .container-sixth > div {
        width: 50%;
    }

    .big-text-field-sixth {
        font-size: 42px;
        line-height: 53px;
        width: 431px;
    }

    .big-text-field-sixth > p > span {
        color: #06686C;
        padding-right: 4px;
    }

    .small-text-field-sixth {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }

    .checkmark {
        width: 32px;
        height: 32px;
        font-size: 20px;
    }

    .small-text-field-sixth > p {
        width: 80%;
    }
}
