.container-third {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-third > div {
    padding-bottom: 54px;
}

.big-text-field-third {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 24px;
    color: #433D3D;
    line-height: 30px;
}

.big-text-field-third > div {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: #433D3D;
}

.small-text-field-third {
    padding-bottom: 24px;
    font-family: 'Inter';
    font-size: 16px;
    color: #433D3D;
}

.third-images {
    display: flex;
    justify-content: center;
}

.third-images > img {
    width: 270px;
    height: 228px;
}

@media screen and (min-width: 786px) {
    .container-third {
        flex-direction: row-reverse;
        height: fit-content;
        padding: 10% 0 10% 0;
    }

    .container-third > div {
        width: 50%;
    }

    .container-third > div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }

    .big-text-field-third {
        font-weight: 600;
        font-size: 42px;
        line-height: 53px;
    }
    
    .big-text-field-third > div {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    
    .small-text-field-third {
        padding-bottom: 24px;
        width: 413px;
    }
    
    .third-images {
        padding-right: 5%;
        justify-content: flex-end;
    }

    .third-images > img {
        width: 85%;
        height: 85%;
    }
}
